<!-- <footer> -->
<div class="footer-section">
      <div>
        <!-- Footer-links -->
        <ul class="footer-links">
          <li><strong>
              <!-- Footer Header -->
              <h4 class="footer-header">ABOUT</h4>
            </strong></li>
          <li >Cakes, cookies and brownies are all time favorites of young and old. No celebration is complete without these delicacies. We have started offering options to the customers to bake cakes as per their needs.</li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul class="footer-links">
          <li><strong>
              <!-- Footer Header -->
              <p class="footer-header">DELICACIES</p>
            </strong></li>
          <li><a  href="#"><i aria-hidden="true"></i> CAKES</a></li>
          <li><a  href="#"><i aria-hidden="true"></i> BROWNIES</a></li>
          <li><a  href="#"><i aria-hidden="true"></i> COOKIES</a></li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul class="footer-links">
          <li><strong>
              <!-- Footer Header -->
              <p class="footer-header">SERVICES</p>
            </strong></li>
          <li><a href="#"><i aria-hidden="true"></i>Now Available at your doorsteps</a></li>
          <li><a href="#"><i aria-hidden="true"></i> About</a></li>
          <li><a href="#"><i aria-hidden="true"></i> Contact</a></li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul class="footer-links">
          <li><strong>
              <!-- Footer Header -->
              <p class="footer-header">CONTACT</p>
            </strong></li>
          <li class="footer-content"><i class="fa fa-phone" aria-hidden="true"></i> +919999888822</li>
          <li class="footer-content"><i class="fa fa-envelope-o" aria-hidden="true"></i> bakemycake@gmail.com</li>
          <li class="footer-content"><i class="fa fa-map-marker" aria-hidden="true"></i> 1 Street. Noida</li>
        </ul>
      </div>
 
      <div class="socialmedia">
        <!-- social media links -->
        <ul class="socialmedia-links">
          <li ><a href="#"><img class="socialmedia-icons" src="../../assets/images/facebook.png" ></a></li>
          <li ><a href="#"><img class="socialmedia-icons" src="../../assets/images/twitter.png" ></a></li>
          <li ><a href="#"><img class="socialmedia-icons" src="../../assets/images/instagram.png" ></a></li>
        </ul>
      </div>
</div>
 
  <!-- </footer> -->