<div id="header" >
    <!-- <p> -->
        <!-- <mat-toolbar id="header" color="primary"> -->
            
            <div id="title-block">
              <a id="home-link">
                <h1 class="title">Bake My Cake</h1>
              </a>
            </div>
            <nav style="color: white;">
              <div id="navbar">
                <a routerLink="/" id="home" mat-stroked-button><mat-icon>home</mat-icon></a>
            
                <a routerLink="/cake-requests"  mat-stroked-button><mat-icon>shopping_cart</mat-icon></a>
          
               </div>
            </nav>
          <!-- </mat-toolbar> -->
    
     <!-- </p> -->
     </div>