<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/" mat-list-item >
        <mat-icon class="icon">home</mat-icon>Home
    </a>
    
    <a routerLink="/cake-requests" mat-list-item >
      <mat-icon>shopping_cart</mat-icon>Cart</a>

    <a class="logout" (click)="logoutAction()" mat-list-item >
      <mat-icon>logout</mat-icon>Logout</a>

  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar" class="mat-primary" style="background-color: deeppink;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header ></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
